<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
<h1>
    회원 가입
</h1>

<form>
    이메일(아이디)
    <input type="text" name="userId"/>
    비밀번호
    <input type="password" name="password"/>
    이름
    <input type="text" name="userName"/>
    우편번호
    주소
    주소상세
    <input type="text" name="zipcode"/>
    <input type="text" name="addr"/>
    <input type="text" name="addrDetail"/>
    전화번호
    <input type="text" name="phone"/>
    성별
    <input type="radio" name="gender" value="F"/>여성
    <input type="radio" name="gender" value="M"/>남성

    <br/>
    <button type="submit">회원 가입 완료</button>




</form>

</body>
</html>